.navbar-brand img {
    height: 48px;
    width: 48px;
    display: inline-block;
}

.navbar-brand h2 {
    display: inline-block;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 140px;
}

footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #212529;
}

article {
    font-size: 1.25em;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding-top: 16px;
    padding-bottom: 16px;
}