<article class="row">
    <div class="col-12 border-bottom">
        <div class="py-4">
            <div class="pb-4">
                <h2 class="mb-0"><a class="text-dark" href="{{ .Permalink }}">{{ .Title }}</a></h2>
                <time class="text-muted">Posted on: <span class="text-dark">{{ .Date.Format "January 01, 2006" }}</span></time>
                <div>
                    <span class="text-muted pb-2">Tags:</span>{{ range .Params.tags }}
                    <a class="text-info" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
            </div>
            
      
            <div class="text-muted">
                {{ .Summary }}
                {{ if .Truncated }}
                    <a href="{{ .Permalink }}">Read more...</a>
                {{ end }}
            </div>
        </div>
    </div>
</article>